*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

h2{
    font-size: 64px;
}

html, body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#hidden-letters{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;

    margin-top: 3rem;
    margin-bottom: 1rem;

    user-select: none;
}

#buttons{
    width: 30rem;
    display: inline-block;
    text-align: center;
}

#buttons button{
    padding: 0.5rem 1rem;
}

#buttons button:hover{
    cursor: pointer;
}